#Enviroments
.env
.venv
env/
venv/
ENV/
/gads
gads
gads/
__pycachce__*
__pycachce__
__pycache__/
*__pycachce__
/__pycachce__
env_path
env_path/
env1/
*.ipynb
.save
.save*
.pickle
.token
.mp4*
.jpeg*
.png*
.png
